<div style="display: none" class="app-header ui container menu large top inverted">
    <div class="item">
        <img class="ui small image" src="./assets/images/logo.png">
    </div>
    <a class="item">BAG TO SCHOOL</a>
    <a class="item">DINNERWARES</a>
    <a class="item">WATER BOTTLES</a>
    <a class="item">SCHOOL ACCESSORIES</a>
    <a class="item">PUSH & TOYS</a>
    <div class="ui right menu list secondary mini">
        <div class="ui dropdown item">
            CHARACTERS <i class="dropdown icon"></i>
            <div class="menu">
                <a class="item">c1</a>
                <a class="item">c2</a>
                <a class="item">c3</a>
            </div>
        </div>
        <div class="item">
            <i class="search link icon"></i>
            <!-- <div class="ui icon input">
				</div> -->
        </div>
        <div class="item">
            <i class="shopping cart link icon"></i> 2
        </div>
        <div class="item">
            <img class="ui avatar image" src="/assets/images/profile.png">
            <div class="content">Lucy</div>
            <!-- <img class="ui mini circular image" src="/lib/images/profile.png">
				<div class="content">Lucy</div> -->
        </div>
    </div>
</div>

<div class="app-header" style="display: none">
    <div class="ui container">
        <div class="ui secondary inverted menu">
            <div class="item">Link</div>
            <a class="item active">Link</a>
            <div class="ui dropdown item" tabindex="0">
                Dropdown
                <i class="dropdown icon"></i>
                <div class="menu transition hidden" tabindex="-1">
                    <div class="item">Action</div>
                    <div class="item">Another Action</div>
                    <div class="item">Something else here</div>
                    <div class="divider"></div>
                    <div class="item">Separated Link</div>
                    <div class="divider"></div>
                    <div class="item">One more separated link</div>
                </div>
            </div>
            <div class="right menu">
                <div class="item">
                    <div class="ui action left icon input">
                        <i class="search icon"></i>
                        <input type="text" placeholder="Search">
                        <button class="ui button">Submit</button>
                    </div>
                </div>
                <div class="ui dropdown item" tabindex="0">
                    Dropdown Left<i class="dropdown icon"></i>
                    <div class="menu transition hidden" tabindex="-1">
                        <a class="item">Link</a>
                        <a class="item">Link</a>
                        <div class="divider"></div>
                        <div class="header">Header</div>
                        <div class="item">
                            <i class="dropdown icon"></i>
                            Sub Menu
                            <div class="menu transition hidden">
                                <a class="item">Link</a>
                                <div class="item">
                                    <i class="dropdown icon"></i>
                                    Sub Sub Menu
                                    <div class="menu transition hidden">
                                        <a class="item">Link</a>
                                        <a class="item">Link</a>
                                    </div>
                                </div>
                                <a class="item">Link</a>
                            </div>
                        </div>
                        <a class="item">Link</a>
                    </div>
                </div>
                <a class="item">Link</a>
            </div>
        </div>
    </div>
</div>

<div class="app-header">
    <div class="ui container">
        <div class="ui text menu">
            <div class="item"><img class="ui image" src="./assets/images/logo.png"></div>
            <a class="item">
                <div class="ui button">BAG TO SCHOOL</div>
            </a>
            <a class="item">
                <div class="ui button">DINNERWARES</div>
            </a>
            <a class="item">
                <div class="ui button">WATER BOTTLES</div>
            </a>
            <a class="item">
                <div class="ui button">SCHOOL ACCESSORIES</div>
            </a>
            <a class="item">
                <div class="ui button">PLUSH & TOYS</div>
            </a>
            <div class="ui right inverted text menu">
                <div class="ui dropdown item">
                    CHARACTERS
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a class="item text grey">English</a>
                        <a class="item text grey">Russian</a>
                        <a class="item text grey">Spanish</a>
                    </div>
                </div>
                <a class="item">
                    <i class="search link icon"></i>
                    <!-- <div class="ui icon input">
                        </div> -->
                </a>
                <a class="item">
                    <i class="shopping cart link icon"></i> 2
                </a>
                <a class="item">
                    <div class="content" style="margin-right: 5px" >Lucy</div>
                    <span class="app-header__avatar">
                        <img class="ui image" src="/assets/images/profile.png">
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>