<div class="app-header ui fixed inverted text menu">
    <div class="ui container">
        <div class="item"><img class="ui image" src="./assets/images/logo.png"></div>
        <a class="item">
            <div class="ui button">BAG TO SCHOOL</div>
        </a>
        <a class="item">
            <div class="ui button">DINNERWARES</div>
        </a>
        <a class="item">
            <div class="ui button">WATER BOTTLES</div>
        </a>
        <a class="item">
            <div class="ui button">SCHOOL ACCESSORIES</div>
        </a>
        <a class="item">
            <div class="ui button">PLUSH & TOYS</div>
        </a>
        <div class="ui right inverted text menu">
            <div class="ui dropdown item">
                CHARACTERS
                <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item text grey">English</a>
                    <a class="item text grey">Russian</a>
                    <a class="item text grey">Spanish</a>
                </div>
            </div>
            <a class="item">
                <i class="search link icon"></i>
            </a>
            <a class="item">
                <i class="shopping cart link icon"></i> 2
            </a>
            <a class="item">
                <div class="content" style="margin-right: 5px">Lucy</div>
                <span class="app-header__avatar">
                    <img class="ui image" src="/assets/images/profile.png">
                </span>
            </a>
        </div>
    </div>
    <div class="app-header__background">
        <img src="../../assets/images/bg-navbar.png" alt="">
    </div>
</div>