body {
  /* background-color: #5E5996; */
}

.inverted {
  background-color: transparent !important;
}

* {
  /* font-family: 'affogatomedium' !important; */
}
.app-header {
  /* background-color: #5E5996 !important; */
  width: 100%;
  position: relative;
  padding-top: 1px;
  padding-bottom: 10px;
}

.app-header:before {
  position: absolute;
  content: '';
  top: -1px;
  left: 0;
  right: 0;
  /* height: 300px; */
  background-image: url('./assets/images/bg-navbar.png');
  background-repeat: no-repeat;
  background-size: contain;
}



.app-header .app-header__avatar {
  position: relative;
  overflow: visible;
  padding: 4px;
}
.app-header .app-header__avatar:before {
  /* content: ''; */
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url('./assets//images//avatar-mask.png'); */
}

.app-header .menu {
  z-index: 5;
}
.app-header .ui.text.menu {
  margin: 0 -0.5em;
  z-index: 5;
}

.app-header .right.inverted.text.menu a.item:hover > *{
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75); */
}

.app-header, .app-header .a.item {
  font-family: 'affogatomedium' !important;
  /* font-size: 13px !important; */
}

.ui.header.huge.red {
  /* font-family: 'affogatoblack' !important;
  text-transform: uppercase;
  letter-spacing: 1.5px; */
}
.ui.header.huge.red span {

}

.m-list .ui.header.huge.red {
  font-family: 'affogatobold' !important;
  text-transform: uppercase;
  letter-spacing: -0.3px;
}

.m-list .ui.header{
  font-family: 'affogatobold' !important;
}

.m-list__num {
  font-family: 'affogatobold' !important;
  text-transform: uppercase;
  /* letter-spacing: -12px; */
  display: inline-block;
  max-width: 20px;
  font-size: 6rem;
  opacity: 0.5;
  line-height: 0em;
}

.m-list .row:nth-child(even) .column:first-child {
  order: 2;
}

.app-header .item .button {
  font-family: 'affogatobold' !important;
  font-size: 13px;
  letter-spacing: -0.3px;
}
.app-header .ui.horizontal.list > .item + .item {
  margin-left: 0;
}

.app-header .app-header__background {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
}
.app-header .app-header__background img{
  width: 100%;
  min-width: 900px;
}

ul[rn-carousel] {
  height: calc(100vw / 2.66);
}

.app-carousel {
  position: relative;
}
.app-carousel ul[rn-carousel] {
  height: calc(100vw / 2.66);
  margin-block-start: 0;
  margin-block-end: 0;
}

.app-carousel .rn-carousel-control.rn-carousel-control-next:before {
  content: url('./assets/images/ic-next-banner.png');
}
.app-carousel .rn-carousel-control.rn-carousel-control-next{
  right: 13%;
}
.app-carousel .rn-carousel-control.rn-carousel-control-prev:before {
  content: url('./assets/images/ic-prev-banner.png');
}
.app-carousel .rn-carousel-control.rn-carousel-control-prev {
  left: 13%;
}

.app-carousel .layer {
  position: relative;
}

.app-carousel .layer__content {
  position: absolute;
  top: 40%;
  left: 50%;
  max-width: 27%;
}

.app-carousel .layer__content .ui.header {
  /* text-transform: uppercase; */
}
.app-carousel .layer__content h2.ui.header {
  font-family: 'affogatobold' !important;
  text-transform: uppercase;
  color: #C8102E !important;
  font-size: 2.92em;
  letter-spacing: -0.5px;
}

.app-carousel .layer__content h3.ui.header {
  font-family: 'affogatobold' !important;
  font-size: 2.3em;
  letter-spacing: -0.5px;
}

.app-carousel .rn-carousel-indicator {
  text-align: center;
  margin-top: 20px;
}

.app-carousel .rn-carousel-indicator span {
  line-height: 10px;
  display: inline-block;
  color: #442195;
  height: 10px;
  font-size: 22px;
}
.app-carousel .rn-carousel-indicator span + span {
  margin-left: 18px;
}

.app-carousel .rn-carousel-indicator span.active {
  color: #AEA0D1;
  cursor: default;
}

.app-constructor {
  margin-top: 15px;
}

.app-constructor__top {
  background-color: #2E0088;
  padding-top: 80px;
}

.app-constructor__select {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

.ui.image.app-constructor__select__hover, 
.ui.image.app-constructor__select__hover_bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: none;
  opacity: 0;
  transition: transform 500ms ease-out, opacity 500ms ease-in;
}

.ui.image.app-constructor__select__hover_bg {
  transform: translate(-50%, -50%) scale(0.7);
}

.app-constructor__select:hover + .ui.image.app-constructor__select__hover_bg {
  opacity: 1;
  transform: translate(-50%, -50%) scale(0.77);
}

.app-constructor__select:hover + .ui.image.app-constructor__select__hover_bg + .ui.image.app-constructor__select__hover {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}



.app-constructor__select__text {
  position: absolute;
  top: 65%;
  right: 15%;
  transform: rotate(-90deg); 
  color: #C8102E !important;
  font-size: 20px;
}
