<div class="app-constructor">
    <div class="app-constructor__top">
        <div class="ui two column centered grid">
            <div class="four column centered row app-constructor__selector">
                <div class="column" ng-repeat="bottle in bottleTypes" ng-mouseover="onTypeSelect(bottle.type)">
                    <div class="app-constructor__select">
                        <img class="ui image big" ng-src="{{bottle.srcDefault}}" alt="AS-ASW58800">
                        <span class="app-constructor__select__text">{{bottle.name}}</span>
                    </div>
                    <img class="ui image app-constructor__select__hover_bg" src="../../assets/images/bg-bottle.png">
                    <img class="ui image app-constructor__select__hover" ng-src="{{bottle.srcActive}}"
                        alt="AS-ASW58800">
                </div>
            </div>
        </div>
    </div>
    <div class="app-constructor__bottom">
        <div class="ui container swiper" style="padding-top: 50px">
            <!-- Slider main container -->
            <div class="swiper__top">
                <div class="swiper__controls">
                    <h3 class="ui header large inverted">Change the cap</h3>
                    <div class="ui icon violet mini buttons">
                        <button id="prevTop" class="ui button"><i class="play horizontally flipped icon"></i></button>
                        <button id="nextTop" class="ui button"><i class="play icon"></i></button>
                    </div>
                </div>
                <div id="swiperTop" class="swiper-container">
                    <div class="swiper-wrapper" ng-if="bottleCaps.length">
                        <div class="swiper-slide" ng-repeat="cap in bottleCaps">
                            <img ng-src="{{cap.image}}" alt="{{cap.id}}" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper__bottom">
                <div id="swiperBottom" class="swiper-container">
                    <div class="swiper-wrapper" ng-if="bottleBodies.length">
                        <div class="swiper-slide" ng-repeat="body in bottleBodies">
                            <img ng-src="{{body.image}}" alt="{{body.id}}" />
                        </div>
                    </div>
                </div>
                <div class="swiper__controls">
                    <div class="ui icon violet buttons mini">
                        <button id="prevBottom" class="ui button"><i class="play horizontally flipped icon"></i></button>
                        <button id="nextBottom" class="ui button"><i class="play icon"></i></button>
                    </div>
                    <h3 class="ui header large inverted">Change the body</h3>
                </div>
            </div>
        </div>
        <div class="ui container app-constructor__button">
            <button class="ui button primary small"><i class="plus icon"></i> Add to card</button>
        </div>
    </div>
</div>